.comment-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 69.969vw;
  margin-left: 3.9vw;
  border: 1px solid red;
}

.comment-indiv-contain {
  width: 40px;
  height: 45px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: green;
  .comment-img {
    overflow: hidden;
    max-width: 40px;
    height: 100px;
    transition: all 0.5s ease-in-out;
    img {
      max-width: 40px;
      height: auto;
    }
  }
  .comment-txt-container {
    position: absolute;
    margin-top: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    #content {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    #username {
      margin-right: 1vw;
      color: #eb736c;
    }
  }
  &:hover {
    .comment-img {
      transform: scale(1.2);
    }
  }
}
