.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;
  flex-direction: column;
  margin-bottom: 20vh;
  svg {
    width: 50%;
    height: auto;
  }
  .waveFormComp {
    width: 50%;
  }
}
