.home {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 75vw;
  flex-direction: column;
  margin-bottom: 20vh;
  svg {
    max-width: 50%;
    height: auto;
    max-height: 40vh;
  }
  .waveFormComp {
    width: 50%;
  }
}
